<h1>Sources</h1>
<table>
<tr><th>Name</th></tr>
<% @app.sources.each do |x| %>
<tr><td><%= link_to x.name, {:controller=>"sources",:action=>"edit"}%></td></tr>
<%end %>
</table>
<% link_to 'Add Source',:controller=>"sources",:action=>"new",:app=>@app.id %>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
